# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/

# Project Data
data/
logs/

# Model Files
*.pth
*.pt
*.h5
*.ckpt
*.onnx

# Triton Server
model_repository/**/model.pt