numpy==1.18.3
matplotlib>=3.2.1
scikit-learn==0.22.2
tqdm==4.31.1
scikit-image>=0.16.2
tensorboard==2.2.1
opencv-python==4.2.0.34
imgaug==0.4.0
torch==1.5.0
torchvision==0.6.0
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI